{{> navbar}}

<div class="card mx-auto container mt-5" style="width: 18rem;">
 
  <div class="card-body text-center">
     <a class="text-center " href="/crud/get">ver tus coches</a>
  </div>
</div>
  


